.x{
    color: blue;
}
*{
    margin: 0px;
    padding: 0px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px solid black;
    padding: 5px;
}
body{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
body>div:nth-child(1){
   width: 30%;
}
body>div:nth-child(2){
    width: 70%;
}
.success{
border: 7px solid green;
color:green;
}
.error{
    border: 7px solid red;
    color:red;
}